body {
    display: grid;
    grid-template-rows: 1fr auto;
    justify-items: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
    background: #1a181b;
    min-width: 850px;
    min-height: 674px;
}

h1 {
    font-family: "Lexend Deca", Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-size: clamp(2rem, 25vw, 10rem);
    user-select: none;
    text-align: center;
    color: #f7fff7;
}

#info {
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto;
    justify-content: center;
    align-items: center;

    font-family: "Lexend Deca", Verdana, Geneva, Tahoma, sans-serif;
    font-optical-sizing: auto;
    font-size: 4rem;
    text-align: center;
    color: #f7fff7;
    user-select: none;
}

#info h2 {
    font-size: inherit;
}

.player {
    width: 1em;
}

.player:hover {
    cursor: pointer;
}

.bullet {
    font-size: 0.5em !important;
    margin-left: 10px;
    margin-right: 10px;
}

.progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.progress-bar {
    width: 0%;
    height: 100%;
    background: #4caf50;
    transition: width 0.3s ease;
}

.hidden {
    display: none;
}

#hud {
    width: 50em;
    display: grid;
    grid-template-rows: auto auto;
    margin-bottom: 50px;
}

:root {
    --track-height: 6px;
    --thumb-size: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 100%;
    height: var(--track-height);
    background-color: #4E5158;
    border-radius: 999px;
    position: relative;
    outline: none;
    cursor: pointer;
}

input[type="range"]::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: var(--track-height);
    width: var(--x, 50%);
    background-color: #828a95;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: background-color 0.3s ease;
    z-index: 1;
}

input[type="range"]:hover::after {
    background-color: #4caf50;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: #f7fff7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 50%;
    z-index: 2;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--track-height);
    background: #4E5158;
    border-radius: 999px;
}

input[type="range"]::-moz-range-progress {
    height: var(--track-height);
    background: #828a95;
    border-radius: 999px;
    transition: background-color 0.3s ease;
}

input[type="range"]:hover::-moz-range-progress {
    background: #4caf50;
}

input[type="range"]::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: #f7fff7;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}